Lab 3 :

In [3]:
import pandas as pd

Hiển thị và quan sát dữ liệu patient heart rate

In [5]:
patientheartrate = pd.read_csv(r'patient_heart_rate.csv')
patientheartrate

       1    Mickéy Mousé    56       70kgs   72   69   71    -  -.1  -.2
0    2.0     Donald Duck  34.0   154.89lbs    -    -    -   85   84   76
1    3.0      Mini Mouse  16.0         NaN    -    -    -   65   69   72
2    4.0  Scrooge McDuck   NaN       78kgs   78   79   72    -    -    -
3    5.0    Pink Panther  54.0  198.658lbs    -    -    -   69  NaN   75
4    6.0     Huey McDuck  52.0      189lbs    -    -    -   68   75   72
5    7.0    Dewey McDuck  19.0       56kgs    -    -    -   71   78   75
6    8.0      Scööpy Doo  32.0       78kgs   78   76   75    -    -    -
7    NaN             NaN   NaN         NaN  NaN  NaN  NaN  NaN  NaN  NaN
8    NaN             NaN   NaN         NaN  NaN  NaN  NaN  NaN  NaN  NaN
9    NaN             NaN   NaN         NaN  NaN  NaN  NaN  NaN  NaN  NaN
10   9.0     Huey McDuck  52.0      189lbs    -    -    -   68   75   72
11  10.0    Louie McDuck  12.0       45kgs    -    -    -   92   95   87
12  11.0       Henry Nam   NaN       60kgs   78   75   72    -    -    -
13  12.0     Michel Long  34.0         NaN   65   67   55    -    -    -
14  13.0      Tana Ricky   NaN         NaN    -    -    -   68   72   70
15  14.0        UniLever   NaN         NaN  NaN  NaN  NaN  NaN  NaN  NaN
16  15.0             NaN  52.0      180lbs    -    -    -   68   75   72

In ra 5 dòng đầu tiên

In [6]:
patientheartrate.head(5)

     1    Mickéy Mousé    56       70kgs  72  69  71   -  -.1 -.2
0  2.0     Donald Duck  34.0   154.89lbs   -   -   -  85   84  76
1  3.0      Mini Mouse  16.0         NaN   -   -   -  65   69  72
2  4.0  Scrooge McDuck   NaN       78kgs  78  79  72   -    -   -
3  5.0    Pink Panther  54.0  198.658lbs   -   -   -  69  NaN  75
4  6.0     Huey McDuck  52.0      189lbs   -   -   -  68   75  72

Vấn đề 1 : Tiến hành tải dữ liệu vào chương trình ứng dụng python và giải quyết vấn đề "Missing header in the csv file"

In [7]:
column_names = ["ID", "Name", "Age", "Weight", 'm0006', 'm0612', 'm1218', 'f0006', 'f0612', 'f1218']

patientheartrate = pd.read_csv("patient_heart_rate.csv", names = column_names)
print(patientheartrate.head())

    ID            Name   Age      Weight m0006 m0612 m1218 f0006 f0612 f1218
0  1.0    Mickéy Mousé  56.0       70kgs    72    69    71     -     -     -
1  2.0     Donald Duck  34.0   154.89lbs     -     -     -    85    84    76
2  3.0      Mini Mouse  16.0         NaN     -     -     -    65    69    72
3  4.0  Scrooge McDuck   NaN       78kgs    78    79    72     -     -     -
4  5.0    Pink Panther  54.0  198.658lbs     -     -     -    69   NaN    75

Vấn đề 2 : Xử lý vấn đề 1 cột lưu hỗn hợp nhiều dữ liệu, ở đây là cột "Name" chứa bao gồm "firstname" và "Lastname", giải pháp là ta sẽ tách ra làm 2 cột

In [8]:
patientheartrate[['Firstname','Lastname']] = patientheartrate[ 'Name']. str. split (expand=True)
patientheartrate = patientheartrate.drop( 'Name', axis=1)
print (patientheartrate)

      ID   Age      Weight m0006 m0612 m1218 f0006 f0612 f1218 Firstname  \
0    1.0  56.0       70kgs    72    69    71     -     -     -    Mickéy
1    2.0  34.0   154.89lbs     -     -     -    85    84    76    Donald
2    3.0  16.0         NaN     -     -     -    65    69    72      Mini
3    4.0   NaN       78kgs    78    79    72     -     -     -   Scrooge
4    5.0  54.0  198.658lbs     -     -     -    69   NaN    75      Pink
5    6.0  52.0      189lbs     -     -     -    68    75    72      Huey
6    7.0  19.0       56kgs     -     -     -    71    78    75     Dewey
7    8.0  32.0       78kgs    78    76    75     -     -     -    Scööpy
8    NaN   NaN         NaN   NaN   NaN   NaN   NaN   NaN   NaN       NaN
9    NaN   NaN         NaN   NaN   NaN   NaN   NaN   NaN   NaN       NaN
10   NaN   NaN         NaN   NaN   NaN   NaN   NaN   NaN   NaN       NaN
11   9.0  52.0      189lbs     -     -     -    68    75    72      Huey
12  10.0  12.0       45kgs     -     -     -    92    95    87     Louie
13  11.0   NaN       60kgs    78    75    72     -     -     -     Henry
14  12.0  34.0         NaN    65    67    55     -     -     -    Michel
15  13.0   NaN         NaN     -     -     -    68    72    70      Tana
16  14.0   NaN         NaN   NaN   NaN   NaN   NaN   NaN   NaN  UniLever
17  15.0  52.0      180lbs     -     -     -    68    75    72       NaN

   Lastname
0     Mousé
1      Duck
2     Mouse
3    McDuck
4   Panther
5    McDuck
6    McDuck
7       Doo
8       NaN
9       NaN
10      NaN
11   McDuck
12   McDuck
13      Nam
14     Long
15    Ricky
16     None
17      NaN

Vấn đề 3 : Cột Weight có vấn đề về không thống nhất các đơn vị đo lường trong dữ liệu.
Ta sẽ chuyển các đơn vị về thành đơn vị chuẩn "kg"

In [9]:
weight = patientheartrate['Weight']
for i in range (0 ,len(weight)):
    x= str (weight[i])
    #Incase Ibs is part of observation renove it 
    if "lbs" in x[-3:]:
        #Remove the tos fron the value
        x= x [:-3:]
        #Convert string to float
        float_x = float(x)
        #Covert to kgs and store as int 
        y =int (float_x/2.2)
        #Convert back to string
        y = str(y)+"kgs"
        weight[i]= y
print (patientheartrate)

      ID   Age Weight m0006 m0612 m1218 f0006 f0612 f1218 Firstname Lastname
0    1.0  56.0  70kgs    72    69    71     -     -     -    Mickéy    Mousé
1    2.0  34.0  70kgs     -     -     -    85    84    76    Donald     Duck
2    3.0  16.0    NaN     -     -     -    65    69    72      Mini    Mouse
3    4.0   NaN  78kgs    78    79    72     -     -     -   Scrooge   McDuck
4    5.0  54.0  90kgs     -     -     -    69   NaN    75      Pink  Panther
5    6.0  52.0  85kgs     -     -     -    68    75    72      Huey   McDuck
6    7.0  19.0  56kgs     -     -     -    71    78    75     Dewey   McDuck
7    8.0  32.0  78kgs    78    76    75     -     -     -    Scööpy      Doo
8    NaN   NaN    NaN   NaN   NaN   NaN   NaN   NaN   NaN       NaN      NaN
9    NaN   NaN    NaN   NaN   NaN   NaN   NaN   NaN   NaN       NaN      NaN
10   NaN   NaN    NaN   NaN   NaN   NaN   NaN   NaN   NaN       NaN      NaN
11   9.0  52.0  85kgs     -     -     -    68    75    72      Huey   McDuck
12  10.0  12.0  45kgs     -     -     -    92    95    87     Louie   McDuck
13  11.0   NaN  60kgs    78    75    72     -     -     -     Henry      Nam
14  12.0  34.0    NaN    65    67    55     -     -     -    Michel     Long
15  13.0   NaN    NaN     -     -     -    68    72    70      Tana    Ricky
16  14.0   NaN    NaN   NaN   NaN   NaN   NaN   NaN   NaN  UniLever     None
17  15.0  52.0  81kgs     -     -     -    68    75    72       NaN      NaN

C:\Users\lucle\AppData\Local\Temp\ipykernel_1392\836202335.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  weight[i]= y
C:\Users\lucle\AppData\Local\Temp\ipykernel_1392\836202335.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  weight[i]= y
C:\Users\lucle\AppData\Local\Temp\ipykernel_1392\836202335.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  weight[i]= y
C:\Users\lucle\AppData\Local\Temp\ipykernel_1392\836202335.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  weight[i]= y
C:\Users\lucle\AppData\Local\Temp\ipykernel_1392\836202335.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  weight[i]= y

Vấn đề 4: Vấn đề về xuất hiện dòng dữ liệu rỗng (không có giá trị: NaN). Giải pháp có thể đưa ra là xóa bỏ

In [10]:
patientheartrate. dropna(how="all", inplace=True)
print(patientheartrate)

      ID   Age Weight m0006 m0612 m1218 f0006 f0612 f1218 Firstname Lastname
0    1.0  56.0  70kgs    72    69    71     -     -     -    Mickéy    Mousé
1    2.0  34.0  70kgs     -     -     -    85    84    76    Donald     Duck
2    3.0  16.0    NaN     -     -     -    65    69    72      Mini    Mouse
3    4.0   NaN  78kgs    78    79    72     -     -     -   Scrooge   McDuck
4    5.0  54.0  90kgs     -     -     -    69   NaN    75      Pink  Panther
5    6.0  52.0  85kgs     -     -     -    68    75    72      Huey   McDuck
6    7.0  19.0  56kgs     -     -     -    71    78    75     Dewey   McDuck
7    8.0  32.0  78kgs    78    76    75     -     -     -    Scööpy      Doo
11   9.0  52.0  85kgs     -     -     -    68    75    72      Huey   McDuck
12  10.0  12.0  45kgs     -     -     -    92    95    87     Louie   McDuck
13  11.0   NaN  60kgs    78    75    72     -     -     -     Henry      Nam
14  12.0  34.0    NaN    65    67    55     -     -     -    Michel     Long
15  13.0   NaN    NaN     -     -     -    68    72    70      Tana    Ricky
16  14.0   NaN    NaN   NaN   NaN   NaN   NaN   NaN   NaN  UniLever     None
17  15.0  52.0  81kgs     -     -     -    68    75    72       NaN      NaN

Vấn đề 5: Có nhiều dòng dữ liệu bị trùng lắp thông tin hoàn toàn[fullname, lastname, age, weight....], giải pháp đưa ra là chỉ giữ lại một dòng dữ liệu, tuy nhiên giải pháp phải dựa trên nghiệp vụ của tập dữ liệu và quan sát của người xử lý.

In [11]:
df = patientheartrate. drop_duplicates (subset=[ 'Firstname', 'Lastname', 'Age', 'Weight'])
print (patientheartrate)

      ID   Age Weight m0006 m0612 m1218 f0006 f0612 f1218 Firstname Lastname
0    1.0  56.0  70kgs    72    69    71     -     -     -    Mickéy    Mousé
1    2.0  34.0  70kgs     -     -     -    85    84    76    Donald     Duck
2    3.0  16.0    NaN     -     -     -    65    69    72      Mini    Mouse
3    4.0   NaN  78kgs    78    79    72     -     -     -   Scrooge   McDuck
4    5.0  54.0  90kgs     -     -     -    69   NaN    75      Pink  Panther
5    6.0  52.0  85kgs     -     -     -    68    75    72      Huey   McDuck
6    7.0  19.0  56kgs     -     -     -    71    78    75     Dewey   McDuck
7    8.0  32.0  78kgs    78    76    75     -     -     -    Scööpy      Doo
11   9.0  52.0  85kgs     -     -     -    68    75    72      Huey   McDuck
12  10.0  12.0  45kgs     -     -     -    92    95    87     Louie   McDuck
13  11.0   NaN  60kgs    78    75    72     -     -     -     Henry      Nam
14  12.0  34.0    NaN    65    67    55     -     -     -    Michel     Long
15  13.0   NaN    NaN     -     -     -    68    72    70      Tana    Ricky
16  14.0   NaN    NaN   NaN   NaN   NaN   NaN   NaN   NaN  UniLever     None
17  15.0  52.0  81kgs     -     -     -    68    75    72       NaN      NaN

Vấn đề 6 : Xuất hiện dữ liệu bị ảnh hưởng bởi lỗi non-ASCII, không định dạng ASCH.  Giái pháp: Tùy vào nghiệp vụ ta có thể : xóa dữ liệu tại đó, thay thế bằng dữ liệu khác hoặc thay thế bằng việc đánh dấu bằng kí tự khác

In [12]:
patientheartrate.Firstname.replace({r'[^\x00-\x7F]+':''}, regex=True, inplace=True)
patientheartrate.Lastname.replace({r'[^\x00-\x7F]+':''}, regex=True, inplace=True)
print(patientheartrate)

      ID   Age Weight m0006 m0612 m1218 f0006 f0612 f1218 Firstname Lastname
0    1.0  56.0  70kgs    72    69    71     -     -     -     Micky     Mous
1    2.0  34.0  70kgs     -     -     -    85    84    76    Donald     Duck
2    3.0  16.0    NaN     -     -     -    65    69    72      Mini    Mouse
3    4.0   NaN  78kgs    78    79    72     -     -     -   Scrooge   McDuck
4    5.0  54.0  90kgs     -     -     -    69   NaN    75      Pink  Panther
5    6.0  52.0  85kgs     -     -     -    68    75    72      Huey   McDuck
6    7.0  19.0  56kgs     -     -     -    71    78    75     Dewey   McDuck
7    8.0  32.0  78kgs    78    76    75     -     -     -      Scpy      Doo
11   9.0  52.0  85kgs     -     -     -    68    75    72      Huey   McDuck
12  10.0  12.0  45kgs     -     -     -    92    95    87     Louie   McDuck
13  11.0   NaN  60kgs    78    75    72     -     -     -     Henry      Nam
14  12.0  34.0    NaN    65    67    55     -     -     -    Michel     Long
15  13.0   NaN    NaN     -     -     -    68    72    70      Tana    Ricky
16  14.0   NaN    NaN   NaN   NaN   NaN   NaN   NaN   NaN  UniLever     None
17  15.0  52.0  81kgs     -     -     -    68    75    72       NaN      NaN

C:\Users\lucle\AppData\Local\Temp\ipykernel_1392\3726833713.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  patientheartrate.Firstname.replace({r'[^\x00-\x7F]+':''}, regex=True, inplace=True)
C:\Users\lucle\AppData\Local\Temp\ipykernel_1392\3726833713.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  patientheartrate.Lastname.replace({r'[^\x00-\x7F]+':''}, regex=True, inplace=True)

Vấn đề 7 : ―Missing values‖, vấn đề này xảy ra tại các cột ―Age‖, ―Weight‖ và ―Heart 
Rate‖. Thiếu dữ liệu (dữ liệu không đầy đủ) là vấn đề xảy ra nhiều trong các nguồn dữ 
liệu do nhiều nguyên nhân chủ quan lẫn khách quan.Có một vài giải pháp để xử lý vấn đề 
này, chủ yếu dựa trên kinh nghiệm và nghiệp vụ về tập dữ liệu đó. Một số giải pháp đưa 
đề xuất từ chuyên gia như sau:
a. Deletion: Remove records with missing values

b. Dummy substitution: Replace missing values with a dummy but valid value: 
e.g.: 0 for numerical values.

c. Mean substitution: Replace the missing values with the mean.

d. Frequent substitution: Replace the missing values with the most frequent item.

e. Improve the data collector: Your business folk will talk to the clients and inform 
them about why it is worth fixing the problem with the data collector.

In [13]:
df = pd.melt(patientheartrate, 
             id_vars=['ID', 'Age', 'Weight', 'Firstname', 'Lastname'], value_name= "PulseRate", var_name= "sex_and_time"). sort_values(['ID', 'Age', 'Weight', 'Firstname', 'Lastname'])

In [14]:
len(df['PulseRate'])

90

In [15]:
df.head(10)

     ID   Age Weight Firstname Lastname sex_and_time PulseRate
0   1.0  56.0  70kgs     Micky     Mous        m0006        72
15  1.0  56.0  70kgs     Micky     Mous        m0612        69
30  1.0  56.0  70kgs     Micky     Mous        m1218        71
45  1.0  56.0  70kgs     Micky     Mous        f0006         -
60  1.0  56.0  70kgs     Micky     Mous        f0612         -
75  1.0  56.0  70kgs     Micky     Mous        f1218         -
1   2.0  34.0  70kgs    Donald     Duck        m0006         -
16  2.0  34.0  70kgs    Donald     Duck        m0612         -
31  2.0  34.0  70kgs    Donald     Duck        m1218         -
46  2.0  34.0  70kgs    Donald     Duck        f0006        85

Vấn đề 8 : : ―một cột chứa quá nhiều thông tin cần được phân rã‖, như trong bài toán này ta 
thấy header ―m0006‖ chứa các nội dung bao gồm: m  male, 1218 ~ 12-18 (mm-dd). 
Còn giá trị thì là kết quả huyết áp.

Chúng ta sẽ tách nội dung của cột này ra làm 3 cột sau: PulseRate : giá trị huyết áp, Sex: 
giới tính ( m: male, f: female) và time: thời gian (tháng-ngày) như sau:

In [16]:
#Extract sex, hour lower bound and hour upper dound group
tap_df = df["sex_and_time"].str.extract("(\D)(\d+)(\d{2})", expand=True)

In [17]:
#Name columns
tap_df.columns=["Sex","Hours_lower","Hours_upper"]

In [18]:
#Create Time column based on "hours_lower" and "hours_upper" column
tap_df["Time"] = tap_df["Hours_lower"] + "-" + tap_df["Hours_upper"]

In [19]:
#Merge
df = pd.concat([df, tap_df], axis=1)

In [20]:
#Drop unnescessary columns and rows
df = df.drop(['sex_and_time','Hours_lower', 'Hours_upper'],axis=1)
df = df.dropna()

In [21]:
len(df['PulseRate'])

47

In [22]:
df.head(10)

     ID   Age Weight Firstname Lastname PulseRate Sex   Time
0   1.0  56.0  70kgs     Micky     Mous        72   m  00-06
15  1.0  56.0  70kgs     Micky     Mous        69   m  06-12
30  1.0  56.0  70kgs     Micky     Mous        71   m  12-18
45  1.0  56.0  70kgs     Micky     Mous         -   f  00-06
60  1.0  56.0  70kgs     Micky     Mous         -   f  06-12
75  1.0  56.0  70kgs     Micky     Mous         -   f  12-18
1   2.0  34.0  70kgs    Donald     Duck         -   m  00-06
16  2.0  34.0  70kgs    Donald     Duck         -   m  06-12
31  2.0  34.0  70kgs    Donald     Duck         -   m  12-18
46  2.0  34.0  70kgs    Donald     Duck        85   f  00-06

Hãy khảo sát tỉ lệ dữ liệu thiếu trên biến huyết áp. Dữ liệu bị thiếu thì hãy xử lý bằng 
phương pháp sau

 Thay thế bằng giá trị trung bình liền trước và liền sau của người đó. Nếu không 
được thì dùng 2)

 Thay thế bằng giá trị trung bình 2 giá liền trước của người đó. Nếu không được 
thì dùng 3)

 Thay thế bằng giá trị trung bình 2 giá liền sau của người đó. Nếu không được thì 
dùng 4)

 Trung bình của các giá trị huyết áp của người đó. Nếu không được thì dùng 5).

 Trung bình của các giá trị huyết áp của nhóm giới tính. Nếu không được thì dùng 
6)

 Trung bình của các giá trị dữ liệu. Nếu không được thì thay bằng mức ổn định 
trong y học.

In [37]:
import pandas as pd

# Đọc file CSV
try:
    df = pd.read_csv('patient_heart_rate.csv')
    print("Các cột trong dữ liệu:", df.columns)
    
    # Chuyển đổi cột blood_pressure sang dạng số, các giá trị không thể chuyển đổi sẽ trở thành NaN
    df['blood_pressure'] = pd.to_numeric(df['blood_pressure'], errors='coerce')
    print(df.head())
except Exception as e:
    print(f"Lỗi khi đọc file CSV: {e}")

Các cột trong dữ liệu: Index(['1', 'Mickéy Mousé', '56', '70kgs', '72', '69', '71', '-', '-.1',
       'blood pressure'],
      dtype='object')
Lỗi khi đọc file CSV: 'blood_pressure'

In [39]:
try:
    bp_column = 'blood_pressure'  # Sử dụng tên cột đúng
    missing_bp = df[bp_column].isnull().mean()
    print(f'Tỉ lệ dữ liệu thiếu trên biến huyết áp: {missing_bp:.2%}')
except KeyError as e:
    print(f"Lỗi: Cột '{bp_column}' không tồn tại trong dữ liệu: {e}")
except Exception as e:
    print(f"Lỗi khi khảo sát dữ liệu thiếu: {e}")

Lỗi: Cột 'blood_pressure' không tồn tại trong dữ liệu: 'blood_pressure'

In [40]:
def fill_missing_bp(df, bp_column):
    for idx in df[df[bp_column].isnull()].index:
        # Thay thế bằng giá trị trung bình liền trước và liền sau
        if idx > 0 and idx < len(df) - 1:
            prev_bp = df.at[idx - 1, bp_column]
            next_bp = df.at[idx + 1, bp_column]
            if not pd.isnull(prev_bp) and not pd.isnull(next_bp):
                df.at[idx, bp_column] = (prev_bp + next_bp) / 2
                continue
        
        # Thay thế bằng giá trị trung bình 2 giá liền trước
        if idx > 1:
            prev_bp_1 = df.at[idx - 1, bp_column]
            prev_bp_2 = df.at[idx - 2, bp_column]
            if not pd.isnull(prev_bp_1) and not pd.isnull(prev_bp_2):
                df.at[idx, bp_column] = (prev_bp_1 + prev_bp_2) / 2
                continue
        
        # Thay thế bằng giá trị trung bình 2 giá liền sau
        if idx < len(df) - 2:
            next_bp_1 = df.at[idx + 1, bp_column]
            next_bp_2 = df.at[idx + 2, bp_column]
            if not pd.isnull(next_bp_1) and not pd.isnull(next_bp_2):
                df.at[idx, bp_column] = (next_bp_1 + next_bp_2) / 2
                continue
        
        # Trung bình của các giá trị huyết áp của người đó
        patient_id = df.at[idx, 'patient_id']
        patient_bps = df[df['patient_id'] == patient_id][bp_column]
        patient_mean_bp = patient_bps.mean()
        if not pd.isnull(patient_mean_bp):
            df.at[idx, bp_column] = patient_mean_bp
            continue
        
        # Trung bình của các giá trị huyết áp của nhóm giới tính
        gender = df.at[idx, 'gender']
        gender_bps = df[df['gender'] == gender][bp_column]
        gender_mean_bp = gender_bps.mean()
        if not pd.isnull(gender_mean_bp):
            df.at[idx, bp_column] = gender_mean_bp
            continue
        
        # Trung bình của các giá trị dữ liệu
        overall_mean_bp = df[bp_column].mean()
        if not pd.isnull(overall_mean_bp):
            df.at[idx, bp_column] = overall_mean_bp
        else:
            # Thay bằng mức ổn định trong y học (ví dụ: 120)
            df.at[idx, bp_column] = 120

    return df

# Áp dụng hàm xử lý dữ liệu thiếu
try:
    df = fill_missing_bp(df, bp_column)
    print("Dữ liệu sau khi xử lý thiếu:")
    print(df.head())
except Exception as e:
    print(f"Lỗi khi xử lý dữ liệu thiếu: {e}")

Lỗi khi xử lý dữ liệu thiếu: 'blood_pressure'

In [44]:
# Lưu kết quả sau khi xử lý vào file mới
try:
    df.to_csv('patient_heart_rate_filled.csv', index=False)
    print("Dữ liệu đã được lưu thành công.")
except Exception as e:
    print(f"Lỗi khi lưu dữ liệu: {e}")

Dữ liệu đã được lưu thành công.